@using TrailLocker.Models
@model TrailLocker.Models.TripModel


@{
    ViewBag.Title = "AddTrip";
    List<SelectListItem> month = new List<SelectListItem>();

}

<h2>Add A New Trip</h2>

@using (Html.BeginForm("AddTrip", "Trip", FormMethod.Post))
{
    <div>
        Trip Name: @Html.EditorFor(model => model.TripName)
    </div>
    
    <div>
        Destination: @Html.EditorFor(model => model.DestinationName)
    </div>
    
    <div>
        Start Date: @Html.EditorFor(model => model.StartMonth)
                  / @Html.EditorFor(model => model.StartDay)
                  / @Html.EditorFor(model => model.StartYear)
    </div>
    
    <div>
        End Date: @Html.EditorFor(model => model.EndMonth)
                / @Html.EditorFor(model => model.EndDay)
                / @Html.EditorFor(model => model.EndYear)
    </div>
    <div><input type="submit" value="AddTrip" /></div>
}