@using TrailLocker.Models
@model TrailLocker.Models.Entities.Trip


@{
    ViewBag.Title = "Edit Trip";

}

<h2>Edit Trip</h2>

@using (Html.BeginForm("EditTripInDatabase", "Trip", FormMethod.Post))
{
    //<div>Trip Name: @Html.EditorFor(model => model.TripName)</div>
    <div>Destination: @Html.EditorFor(model => model.DestinationID)</div>
    <div>Start Date: @Html.EditorFor(model => model.StartDate)</div>
    <div>End Date: @Html.EditorFor(model => model.EndDate)</div>
    @Html.HiddenFor(model => model.TripID)
    <div><input type="submit" value="EditTrip" /></div>
}